{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->


            
            
            <li class="nav-item">
              {% url 'add_participant' as add_participant %}
              <a href="{{ add_participant }}" class="nav-link {% if request.path == add_participant %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Ajouter Participant
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_participant' as manage_participant %}
              {% url 'edit_participant' participant_id=id as edit_participant %}
              <a href="{{ manage_participant }}" class="nav-link {% if request.path == manage_participant %} active {% endif %} {% if request.path == edit_participant %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Manage Participant
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>